* {
    box-sizing: border-box;
    margin: 0 0;
    font-size: 10px;
}

html {
    font-family:Arial, Helvetica, sans-serif;
    padding: 0 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    height: 75px;
    margin-top: 28px;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-wrapper {
    width: 33.3333%;
}

.logo-name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #2C2C59;
    font-size: 40px;
}

/* .nav-menu {
    width: 33.3333%;
}


.nav-menu_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

}

.nav-menu_item {
    list-style: none;
    display: inline-block;
    width: calc(100% / 4);
    text-align: center;
    padding-right: 20px;

} */

.header-image_wrapper {
    position: absolute;
    right: 175px;
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.basket-img {
    height: 35px;
    color: #2C2C59;
}

.like-img {
    height: 25px;
    width: 25px;
    color: #2C2C59;
}

.account-img {
    height: 27px;
    color: #2C2C59;
}


.contact-button_wrapper {
    display: flex;
    justify-content: flex-end;
    height: 30px;
    width: 90px;
}

.contact-btn {
    font-size: 1.2rem;
    color: #2C2C59;
    width: 100%;
    border: 0.2rem solid #2C2C59;
    background-color: white;
    border-radius: 1rem;
}

.first-section {
    height: 430px;
    background-image: linear-gradient(100deg, #96CDD7 5.28%, #CDE6E8 38.18%, #C9E4E7 60.98%, #C4E1E5 88.83%);
}

.first-section_content {
    display: flex;
    flex-direction: row;
}

.left-side_first-section {
    margin-left: 6rem;
    width: 40%;
}

.first-section_h2 {
    font-size: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #2C2C59;
    padding-top: 9rem;
    margin-bottom: 30px;
}

.first-section_text {
    margin-bottom: 4rem;
    font-size: 1.2rem;
    color: #2C2C59;
}

.shop-btn {
    font-size: 1.2rem;
    color: white;
    width: 117px;
    height: 36px;
    background-color: #2C2C59;
    border-radius: 1rem;
    border: 0.2em solid #2C2C59;
}

 .right-side_first-section {
    height: 280px;
    position: relative;
    top: 8rem
}

.book {
    height: 100%;
    margin-right: 2rem;
}



/* Second section */

.second-section {
    height: 1300px;
    overflow: hidden;
    background-color: #F8F8F8;
}

.second-section_h3 {
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #2C2C59;
    padding-top: 5rem;
    margin-bottom: 2rem;
}

.book-cards_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
}

.book-card {
    width: 208px;
    height:540px;
    margin-right: 3.9rem;
    margin-bottom: 7rem;
    background-color: white;

}

.book-img {
    width: 208px;
    height: 327px;
    margin-bottom: 0.5rem;
}

.book-card:nth-child(5n) {
    margin-right: 0;
}

.book-card_header {
    font-size: 1.7rem;
    color: #2C2C59;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
}

.book-card_text {
    margin-bottom: 2rem;
    font-size: 1.3rem;
    padding-left: 0.5rem;
}

.book-card_price {
    color: red;
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 2rem;
    padding-left: 0.5rem;
}

.learn-more_link {
    display: block;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    padding-left: 0.5rem;
    color: black;
    text-decoration: underline;
    font-weight: 200;
    font-style: italic;
}

.card-button {
    font-size: 1.2rem;
    color: white;
    width: 127px;
    height: 36px;
    background-color: #95CCD7;
    border-radius: 1rem;
    border: 0.2em solid #95CCD7;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}