* {
    box-sizing: border-box;
    margin: 0 0;
    font-size: 10px;
}

html {
    font-family:Arial, Helvetica, sans-serif;
    padding: 0 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    height: 75px;
    margin-top: 28px;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-wrapper {
    width: 33.3333%;
}

.logo-name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #2C2C59;
    font-size: 3rem;
}

/* .nav-menu {
    width: 33.3333%;
}


.nav-menu_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

}

.nav-menu_item {
    list-style: none;
    display: inline-block;
    width: calc(100% / 4);
    text-align: center;
    padding-right: 20px;

} */

.header-image_wrapper {
    position: absolute;
    right: 175px;
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.basket-img {
    height: 35px;
    color: #2C2C59;
}

.like-img {
    height: 25px;
    width: 25px;
    color: #2C2C59;
}

.account-img {
    height: 27px;
    color: #2C2C59;
}


.contact-button_wrapper {
    display: flex;
    justify-content: flex-end;
    height: 30px;
    width: 90px;
}

.contact-btn {
    font-size: 1.2rem;
    color: #2C2C59;
    width: 100%;
    border: 0.2rem solid #2C2C59;
    background-color: white;
    border-radius: 0.5rem;
}

.first-section {
    height: 430px;
    background-image: linear-gradient(100deg, #96CDD7 5.28%, #CDE6E8 38.18%, #C9E4E7 60.98%, #C4E1E5 88.83%);
}

.first-section_content {
    display: flex;
    flex-direction: row;
}

.left-side_first-section {
    margin-left: 6rem;
    width: 40%;
}

.first-section_h2 {
    font-size: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #2C2C59;
    padding-top: 9rem;
    margin-bottom: 30px;
}

.first-section_text {
    margin-bottom: 4rem;
    font-size: 1.2rem;
    color: #2C2C59;
}

.shop-btn {
    font-size: 1.2rem;
    color: white;
    width: 117px;
    height: 36px;
    background-color: #2C2C59;
    border-radius: 0.5rem;
    border: 0.2em solid #2C2C59;
}

 .right-side_first-section {
    height: 280px;
    position: relative;
    top: 8rem
}

.book {
    height: 100%;
    margin-right: 2rem;
    box-shadow: 8px 8px 8px rgb(30 66 73 / 20%);
}



/* Second section */

.second-section {
    min-height: 1405px;
    overflow: hidden;
    background-color: #F8F8F8;
}

.second-section_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    box-sizing: border-box;
}

.second-section_left-wrapper {
    width: 75%;
}


.second-section_h3 {
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #2C2C59;
    padding-top: 5rem;
    margin-bottom: 2rem;
}


.book-cards_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* .book-cards_wrapper::after {
    content: "";
    flex: auto;
  } */

.book-card {
    width: 170px;
    height: 379px;
/*     margin-right: 3.9rem; */
    margin-bottom: 7rem;
    background-color: white;
    position: relative;

}

.book-img {
    width: 130px;
    height: 194px;
    margin-bottom: 0.5rem;
    display: block;
    pointer-events: none;
}

.book-card_header {
    font-size: 1.3rem;
    color: #2C2C59;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
}

.book-card_text {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    padding-left: 0.5rem;
    color: rgb(160, 149, 149)
}

.book-card_price {
    color: red;
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
}

.learn-more_link {
    display: block;
    margin-bottom: 2rem;
    font-size: 1.3rem;
    padding-left: 0.5rem;
    color: black;
    text-decoration: underline;
    font-weight: 200;
    font-style: italic;
    cursor: pointer;

}

.card-button {
    font-size: 1.2rem;
    color: #2C2C59;
    width: 127px;
    height: 36px;
    background-color: #95CCD7;
    border-radius: 0.5rem;
    border: 0.2em solid #95CCD7;
    display: block;
    position: absolute;
    bottom: 13px;
    left: 22px;
    cursor: pointer;
}

/* Second sectin right side */

.second-section_right-wrapper {
    margin-top: 10.3rem;
}

.chart-wrapper {
    width: 230px;
    min-height: 950px;
    border: 0.2rem solid #2C2C59;
    background-color: white;
    border-radius: 0.5rem;
}

.chart_h3 {
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #2C2C59;
    padding-top: 2rem;
    padding-left: 1rem;
    margin-bottom: 2rem;

}

.book-wrapper_general {
    margin: 0 auto;
    width: 205px;
}

.cart-book-wrapper {
    border: 0.2rem solid #e4f0f2;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 136px;
    margin-bottom: 2rem;
}

.cart-img {
    width: 70px;
    height: 100px;
    display: block;
    margin: auto auto auto 0.5rem;
}


.cart-item_text {
    display: flex;
    flex-direction: column;
    width: 100px;
}

.cart-item_btn {
    width: 75px;
    height: 25px;
    display: block;
}

.item-text_wrapper {
    min-height: 100px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1rem;
    min-width: 57%;

}

.cart-item_text h4, .cart-item_text p {
    margin-bottom: 1rem;
}

.cart-item_text h4 {
    font-size: 1.1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #2C2C59;
    display: block;


}

.price-quantity p {
    display: block;
    margin-right: 1 rem;
}
.quantity-input {
    height: 19px;
    width: 27px;display: inline;
}

.price-quantity {
    display: flex;
    flex-direction: row;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

.total-cost {
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.total-cost p {
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #2C2C59;
}


.char-btn {
    font-size: 1.2rem;
    color: white;
    width: 117px;
    height: 36px;
    background-color: #2C2C59;
    border-radius: 0.5rem;
    border: 0.2em solid #2C2C59;
    display: block;
    margin: 0 auto;
}

.item-price {
    font-size: 1.6rem;
    font-weight: 700;
    color: #2C2C59;

}

/* Footer */

.footer {
    height: 350px;
    background-image: linear-gradient(100deg, #96CDD7 5.28%, #CDE6E8 38.18%, #C9E4E7 60.98%, #C4E1E5 88.83%);
    position: relative;
    bottom: 0px;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_left-side {
    width: 40%;
}

.footer_h3 {
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #2C2C59;
    padding-top: 11rem;
    margin-bottom: 5rem;
}


.contact-icons_wrapper {
    display: flex;
    height: 31px;
    justify-content: space-between;
    width: 184px;
}

.contact-icons {
    height: 100%;
}


.footer_right-side {
    position: relative;
    top: 66px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-book {
    display: inline-block;
    height: 200px;
    margin-right: 1.6rem;
    box-shadow: 8px 8px 8px rgb(30 66 73 / 20%);
}

.footer_first-book, .footer_third-book {
    position: relative;
    top: 50px;
}

.book-cart {
    width: 100px;
    height: 100px;
}

/* Learn more pop-up */

.pop-up_background {
    position: fixed;
    opacity: 0;
    background: rgba(15, 39, 69, 0.8);
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    pointer-events: none;
}

.pop-up_background.active {
    pointer-events: all;
    opacity: 1;
}

.pop-up_content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 1px solid #2C2C59;
    border-radius: 1rem;
    z-index: 10;
    background-color: white;
    width: 300px;
    max-width: 60%;
}

.pop-up_content.active {
    transform: translate(-50%, -50%) scale(1);
}


.pop-up_header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}

.pop-up_description {
    padding: 1rem;
}

.close-btn {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;

}